{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "rules": {
      "no-param-reassign": 0,
      "no-plusplus": 0,
      "line-break-style": 0,
      "skipBlankLines": true,
      "no-console": 0,
      "wrap-iife": 0,
      "consistent-return": 0
  }
}

