
///newbiews

.container {
  width: 20%;
  margin: 2%;
  height: 74px;
  position: relative;
  perspective: 800px;

  @include query(600px) {
    height: 80px;
  }

  @include query(700px) {
    height: 90px;
  }

  @include query(800px) {
    height: 100px;
  }

  @include query(900px) {
    margin: 0;
  }
}

.responsive-border-center {
  width: 2%;
  height: 50px;
  background-color: gray;
  margin: 0 1%;
}

.responsive-border-back {
  width: 5%;
  height: 50px;
  background-color: gray;
  margin: 0 1%;
  padding-left: 3%;
}


.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;

  @include query(750px) {
    width: 60%;
  }
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card div {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  background: url('../img/card01.png') no-repeat;
  background-size: 80%;
  background-position: center;

  @include query(510px) {
    background-size: 60%;
  }

  @include query(700px) {
    background-size: 55%;
  }

  @include query(900px) {
    background-size: 70%;
  }

  @include query(1200px) {
    background-size: 55%;
  }
}

.card .back {
  background: url('#') no-repeat;
  background-size: 80%;
  background-position: center;
  transform: rotateY(180deg);

  @include query(510px) {
    background-size: 60%;
  }

  @include query(700px) {
    background-size: 55%;
  }

  @include query(900px) {
    background-size: 70%;
  }

  @include query(1200px) {
    background-size: 55%;
  }
}

.timer {
  margin-right: 5%;
  width: 5%;
  height: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 38pt;
}

.game-over {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(20, 20, 20, .9);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
